* {
    font-family: 'Microsoft YaHei','Helvetica Neue', Helvetica, Arial, Verdana,  "Hiragino Sans GB", STHeiti, sans-serif;;
}

body {
    /* todo */
	background-image: url('../img/body-background.jpg');
}

h1, h2 {
    /* todo */
	text-align: center;
}

/* 最外层容器样式 */
#wrapper {
    width: 1000px;
    height: 1600px;
    background-image: url('../img/wrapper-background.png');
    background-repeat: repeat;
	margin: 0 auto;
    margin-top: -65px;
    margin-bottom: -25px;
    box-shadow: 1px 5px 20px #888888;
}



/* 头部header的样式 */
#header h1 {
    /* todo */
	font-family: Meddon,Microsoft YaHei,sans-serif;
	font-size: 96px;
	font-weight: lighter;
	color: #888;
}

#header nav ul {
    border-bottom: dotted 1px #ddd;
}

#header nav ul li a {
    /* todo */
	text-decoration: none;
    color: #888;
}

#header nav .navigator {
    position: relative;
    top: -25px;
}


#header nav .nav-item {
    display: inline-block;
    width: 100px;
    position: relative;
    left: 335px;
    bottom: 25px;
}


/* 相册样式 */
#gallery {
    /* todo */
	background-color: #fff;
	width: 800px;
	margin-left: 100px;
    box-shadow: 1px 5px 20px #888888;
}

.gallery-icon {
  position: relative;
  top: -30px;
}

.gallery-slides {
    list-style-type: none;
    height: 600px;
}

.gallery-slides img {
  width: 600px;
  padding: 7px;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  position: relative;
  left: 50px;

}

.gallery-slide-1 {
    z-index: 1;
}

.gallery-slide-2 {
    z-index: 2;
    position: relative;
    top: -402px;
}

.gallery-slide-3 {
    z-index: 3;
    position: relative;
    top: -804px;
}

.gallery-heading h2 {
    font-weight: lighter;
    font-size: 28px;
    color: #61AABC;
}

.gallery-heading .gallery-icon {
    text-align: center;
}

.gallery-heading .gallery-icon img {
    /* todo */
	height: 60px;
	width: 60px;
}

.gallery-heading p.time {
    /* todo */
	text-align: center;
	font-weight: lighter;
	font-size: 15px;
	color: #656565;
}


/*评论输入框*/
#comment {
    /*border-bottom: 1px solid #bbb;*/
    position: relative;
    top: 55px;
}

#comments-list {
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 75px;
}

.comment-textarea img {
    border-radius: 3px;
    position: relative;
    left: 100px;
    bottom: 10px;
    box-shadow: 1px 1px 5px #888888;
}

.comment-textarea textarea.comment {
    height: 54px;
    width: 708px;
    font-size: 13px;
    line-height: 20px;
    color: #999;
    border: 1px solid #bbb;
    /* todo */
	border-radius: 3px;
    position: relative;
    left: 132px;
    resize:none;
}

.comment-submit {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    /* todo */
	background-color:#e6e6e6;
    width: 72px;
    height: 31px;
	border: 1px solid #ccc;
    position: relative;
    left: 830px;
}

button a {
  display:block;
  text-decoration: none;
  color: #666;
}


/*评论列表*/
.comments-count {
    font-size: 13px;
    color: #777;
    border-bottom: 1px solid #ccc;
    height: 40px;
}

/* todo */
.comments-count span {
  color: #d32;
}

.comment-item {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 800px;
    position: relative;
    left: -40px;
    overflow: hidden;
}

.comment-item p {
    font-size: 13px;
    color: #333;
    line-height: 1.5em;
    padding: 10px;
}