* {
    font-family: 'Microsoft YaHei','Helvetica Neue', Helvetica, Arial, Verdana,  "Hiragino Sans GB", STHeiti, sans-serif;
}

body {
    background-image: url('../img/body-background.jpg');
    background-attachment: fixed;
}


h1, h2 {
    text-align: center;
}

/* 最外层容器样式 */
#wrapper {
    width: 1024px;
    background-image: url('../img/wrapper-background.png');
    background-repeat: repeat;
    margin: 0 auto;
}


/* 头部header的样式 */

#header{
    margin-bottom: 45px;
}

#header h1 {
    font-family: 'Meddon', 'Microsoft YaHei', sans-serif;
    font-weight: lighter;
    font-size: 96px;
    color: #888;
}

#header nav ul {
    border-bottom: dotted 1px #ddd;
    margin-left: 328px;
    list-style-type: none;
}

#header nav ul li{
    display: inline;
    margin: 30px;
}

#header nav ul li a {
    text-decoration: none;
    color: #666;
}



/* 相册样式 */
#gallery {
    background-color: white;
    width: 800px;
    height: 690px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px #918D8D;
}

.gallery-heading h2 {
    font-weight: lighter;
    font-size: 28px;
    color: #61AABC;
}

.gallery-heading .gallery-icon {
    height: 30px;
    text-align: center;
}

.gallery-heading .gallery-icon img {
    position: relative;
    top: -30px;
    width: 60px;
    height: 60px;
}

.gallery-heading p.time {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    color: #656565;
}

.gallery-slides{
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 408px;
    padding: 10px;
    border: solid 1px #C0C0C0;
    border-radius: 15px;
    list-style-type: none;
    box-shadow: 0 3px 6px #918D8D;
}

.gallery-slide{
    position: absolute;
}

/*评论输入框*/
#comment {
    width: 800px;
    margin: 0 auto;
}

.comment-textarea img {
    border-radius: 3px;
}

.comment-textarea textarea.comment {
    height: 54px;
    width: 738px;
    font-size: 13px;
    line-height: 20px;
    color: #999;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

button.comment-submit {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    background-color: #e6e6e6;
    border: solid 1px #ccc;
    float: right;
    width: 90px;
}



/*评论列表*/

#comments-list{
    width: 800px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.comments-count {
    font-size: 13px;
    color: #777;
}

.comments-count span {
    color: #d32;
}

.comment-item {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.comment-item p {
    font-size: 13px;
    color: #333;
    line-height: 1.5em;
}

.comments{
    padding: 0;
    list-style-type: none;
}

button:hover{
    cursor: pointer;
}

/*clear float*/
.clear{
    clear: both;
}